version: '3'
services: 
    api:
        build: .
        ports: 
           - "5000:5000"
        links: 
           - mongo
    mongo:
        image: mongo
        restart: always
        environment: 
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: example
    mongoexpress:
        image: mongo-express
        ports:
            - "8081:8081"
        links:
            - mongo
        environment:
            ME_CONFIG_MONGODB_ADMINUSERNAME: root
            ME_CONFIG_MONGODB_ADMINPASSWORD: example
        depends_on:
            - mongo
    